@use 'scss/variables' as *;

.modalSidebar {
  @include themed {
    position: relative;
    margin: 0;
    padding: 0.5rem 5px 3rem 5px;
    // background: t($modal-sidebar);
    border-radius: 12px 0 0 12px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    min-width: 250px;
    flex-shrink: 0;

    svg {
      margin-left: 20px;
      margin-right: 20px;
      color: t($subColor);
      font-size: 17px;
    }

    hr {
      height: 1px;
      background: #ccc;
      margin: 0 1.75rem;
      border: none;
    }

    button {
      color: t($color);
      font-size: 18px;
      list-style: none;
      cursor: pointer;
      border-radius: 12px;
      display: flex;
      align-items: center;
      margin: 0.2rem;
      padding: 0.5rem;
      transition: 0.5s;
      outline: none;
      border: none;
      background: none;
      min-width: calc(100% - 1.2em);
      text-align: left;

      &:last-child {
        margin-bottom: 1rem;
      }

      &:hover {
        background: t($modal-sidebarActive);
      }

      &:active {
        background: t($modal-sidebarActive);
        box-shadow: 0 0 0 0.5px t($color);
      }

      &:focus {
        background: t($modal-sidebarActive);
        box-shadow: 0 0 0 0.5px t($color);
      }
    }

    .tab-list-active {
      background: t($modal-sidebarActive);
    }
  }
}

.css-j204z7-MuiFormControlLabel-root {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
