@use 'scss/variables' as *;

.textarea-autosize {
  width: 100%;
  padding: 12px 16px;
  font-size: 15px;
  line-height: 24px;
  outline: none;
  resize: none;
  overflow: hidden;
  transition: 0.2s ease;
  font-family: inherit;

  @include themed {
    background: t($modal-sidebar);
    border: 1px solid t($modal-sidebarActive);
    border-radius: t($borderRadius);
    color: t($color);

    &:hover,
    &:focus {
      border-color: t($color);
    }

    &::placeholder {
      color: t($subColor);
    }
  }

  &[readonly] {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
